streamlit>=1.35.0
langchain>=0.3.0
langchain-community>=0.3.0
streamlit-google-auth
langchain-google-genai>=2.0.0
langchain-chroma>=0.1.4
langchain-text-splitters>=0.3.0
google-generativeai>=0.8.0
python-dotenv>=1.0.1
gTTS>=2.5.4
google-cloud-texttospeech==2.16.3
pyttsx3==2.90
streamlit_mic_recorder>=0.0.8
pypdf>=5.0.0
PyPDF2
pysqlite3-binary
chromadb>=0.5.0
streamlit-lottie==0.0.5





